body {
    background-color: #F6B764;
}

.calculator {
    width: 500px;
    height: 600px;
    background-color: #8E8585;
    border-radius: 15px;
    border: #6D6D6D solid 5px;
    margin: 0 auto;
    box-shadow: 0 0 25px #242323;
}

.display {
    width: 450px;
    height: 100px;
    background-color: #0E0B0B;
    border-radius: 5px;
    margin: 20px auto;
}

.buttons {
    display: flex;
}

.numbers {
    width: 225px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.numbers > input {
    font-size: 40px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.right {
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    width: 100px;
    display: flex;
}

.actions > input {
    width: 50px;
    height: 50px;
}

.operations {
    display: flex;
    flex-wrap: wrap;
}

.operations > input {
    width: 50px;
    height: 50px;
}